<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crearEmpresa</servlet-name>
        <servlet-class>MUsuarios.Servlets.crearEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>MUsuarios.Servlets.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>MUsuarios.Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>MUsuarios.Servlets.uploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearEquipoTrabajo</servlet-name>
        <servlet-class>MDistribucion.Servlets.crearEquipoTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarEquipo</servlet-name>
        <servlet-class>MDistribucion.Servlets.eliminarEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sacarDelEquipo</servlet-name>
        <servlet-class>MDistribucion.Servlets.sacarDelEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmpleadosEquipo</servlet-name>
        <servlet-class>MDistribucion.Servlets.addEmpleadosEquipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearEmpresa</servlet-name>
        <url-pattern>/crearEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearEquipoTrabajo</servlet-name>
        <url-pattern>/crearEquipoTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarEquipo</servlet-name>
        <url-pattern>/eliminarEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sacarDelEquipo</servlet-name>
        <url-pattern>/sacarDelEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmpleadosEquipo</servlet-name>
        <url-pattern>/addEmpleadosEquipo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/hamatus?zeroDateTimeBehavior=convertToNull</description>
        <res-ref-name>Hamatus</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
