<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>crearEmpresa</servlet-name>
        <servlet-class>MUsuarios.Servlets.crearEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>MUsuarios.Servlets.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>MUsuarios.Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>MDocumentos.Servlets.uploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearEquipoTrabajo</servlet-name>
        <servlet-class>MDistribucion.Servlets.crearEquipoTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>MDocumentos.Servlets.downloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFile</servlet-name>
        <servlet-class>MDocumentos.Servlets.updateFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFile</servlet-name>
        <servlet-class>MDocumentos.Servlets.deleteFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmpleadosEquipo</servlet-name>
        <servlet-class>MDistribucion.Servlets.addEmpleadosEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarEquipo</servlet-name>
        <servlet-class>MDistribucion.Servlets.eliminarEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sacarDelEquipo</servlet-name>
        <servlet-class>MDistribucion.Servlets.sacarDelEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntroducirDoc</servlet-name>
        <servlet-class>MDocumentos.Servlets.IntroducirDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarEmpleado</servlet-name>
        <servlet-class>MUsuarios.Servlets.agregarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUser</servlet-name>
        <servlet-class>MUsuarios.Servlets.actualizarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarEmpleado</servlet-name>
        <servlet-class>MUsuarios.Servlets.borrarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authAcess</servlet-name>
        <servlet-class>MDocumentos.Servlets.authAcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaRegistro</servlet-name>
        <servlet-class>MUsuarios.Servlets.cargaRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambioDePuesto</servlet-name>
        <servlet-class>MUsuarios.Servlets.cambioDePuesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearAnuncio</servlet-name>
        <servlet-class>MTablones.Servlets.crearAnuncio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarAnuncio</servlet-name>
        <servlet-class>MTablones.Servlets.editarAnuncio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarAnuncio</servlet-name>
        <servlet-class>MTablones.Servlets.eliminarAnuncio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlA</servlet-name>
        <servlet-class>MTablones.Servlets.controlA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Opciones</servlet-name>
        <servlet-class>MTablones.Clases.Opciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile_J</servlet-name>
        <servlet-class>MDocumentos.Servlets.uploadFile_J</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFile_J</servlet-name>
        <servlet-class>MDocumentos.Servlets.deleteFile_J</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearEmpresa</servlet-name>
        <url-pattern>/crearEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearEquipoTrabajo</servlet-name>
        <url-pattern>/crearEquipoTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFile</servlet-name>
        <url-pattern>/updateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFile</servlet-name>
        <url-pattern>/deleteFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmpleadosEquipo</servlet-name>
        <url-pattern>/addEmpleadosEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarEquipo</servlet-name>
        <url-pattern>/eliminarEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sacarDelEquipo</servlet-name>
        <url-pattern>/sacarDelEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntroducirDoc</servlet-name>
        <url-pattern>/IntroducirDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarEmpleado</servlet-name>
        <url-pattern>/agregarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUser</servlet-name>
        <url-pattern>/actualizarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarEmpleado</servlet-name>
        <url-pattern>/borrarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authAcess</servlet-name>
        <url-pattern>/authAcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaRegistro</servlet-name>
        <url-pattern>/cargaRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambioDePuesto</servlet-name>
        <url-pattern>/cambioDePuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearAnuncio</servlet-name>
        <url-pattern>/crearAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarAnuncio</servlet-name>
        <url-pattern>/editarAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarAnuncio</servlet-name>
        <url-pattern>/eliminarAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlA</servlet-name>
        <url-pattern>/controlA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Opciones</servlet-name>
        <url-pattern>/Opciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile_J</servlet-name>
        <url-pattern>/uploadFile_J</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFile_J</servlet-name>
        <url-pattern>/deleteFile_J</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
