.chat{
    
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 350px;
}

.chat li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon{
    margin-right: 5px;
}

.panel-body{
    overflow-y: scroll;
    height: 250px;
}

/*my-head2*/
#menu_gral ul {
    list-style-type: none; 
    text-align: center;
    font-size: 0;
    width: 100%;
}
#menu_gral > ul li {
    display: inline-block;
    width: 14%;
    position: relative;
    background: #303031;
}
#menu_gral li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.75rem;
}
#menu_gral li:hover a, #menu_gral li a:focus {
    background: #000000;
    color: #FFFFFF;
}

#menu_gral li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
}
#menu_gral li:hover ul, #menu_gral li:focus ul {
    width: 100%;
    margin: 0 -4vw -4vw -4vw;
    padding: 0 4vw 4vw 4vw;
    z-index: 5;
}
#menu_gral li li {
    display: block;
    width: 100%;
}

#menu_gral li:hover li a, #menu_gral li:focus li a {
    font-family: Graphik,sans-serif;
    font-size: 0.75rem;
    line-height: 1.7rem;
    border-top: 1px solid #E5E5E5;
    background: #303031;
}

#menu_gral li li a:hover, #menu_gral li li a:focus {
    background: #000000; 
}
.sub {
    font-family: Graphik,sans-serif;
    background-color: #303031;
    color: #FFFFFF;
    padding: 10%;
    text-transform: uppercase;
    font-size: 0.75rem;
}
/*FIN*/

.icono{
    max-width: 8rem;
    max-height: 4rem;
}

.footer-bg{
    background-color: #181818;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    color: #FFFFFF;
}

.txt-white{
    color: #FFFFFF;
}

.header2{
    background-color: #181818;
    height: 12vh;
}

h1 {
    font-size: 2.25rem;
    color: #303031;
    font-weight: 400;
}

h2 {
    font-size: 1.75rem;
    color: #2291C1;
    font-weight: 400;
}

h3 {
    font-size: 1.25rem;
    color: #2291C1;
    font-weight: 400;
}

h4 {
    font-size: 1rem;
    color: #303031;
    font-weight: 400;
}

p {
    font-size: 13px;
    color:#000000;
}

a {
    font-size: 1rem;
    color: #1DB0EE;
    font-weight: 100;
}

body {
    font-family: 'Graphik',sans-serif;
    background-color: #F3F3F3;
    overflow-x: hidden;
}

.nav {
    font-family: Graphik,sans-serif;
    font-size: 14px;
    color: #181818;
    background-color: #303031;
}

/*La animacion de los botones :D*/
.nav-item{
    color: #FFFFFF;
    padding: 1rem 1rem 1.3rem 1rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.6s all ease;
    display: block;
    font-size: 0.75rem;
}

.nav-item::before{
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before{
  width: 0%;
  height: 100%;
}

.btn1:hover::before{
  width: 100%;
}

.nav-item.nav-link:hover {
    background-color: #000000;
    box-shadow: 0 0.5px #999999;
    color: #FFFFFF;
}

.ti{
    font-family: Graphik,sans-serif;
    color: #FFFFFF;
    background-color: #2291C1;
}

.div-like-btn{
    font-family: Graphik,sans-serif;
    color: #FFFFFF;
    background-color: #303031;
    padding: 0;
}

.list-item-style-none{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1.2605rem 2.94118rem 1.17647rem;
    transition: 0.6s all ease;
}

.list-item-style-none:hover{
    background-color: #000000;
    box-shadow: 0 0.5px #999999;
}

.link-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*Lista de empleados*/
.container_5 {
    border-radius: 15px;
    background-color: #E6E6E6;
}

.cubridor3{
    min-height: 12vh;
}

.container_6{
    margin-right: 4rem;
}

.td2 {
    padding: 0.5vh;
}

.td3 {
    padding: 10rem;
}

.td4 {
    margin-top: 2rem;
}

.tn {
    color: black;
}

.fo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav1 {
  padding-right: 8vh;
  padding-left: 8vh;
}

.sub2 {
    font-family: Graphik,sans-serif;
    background-color: #303031;
    color: #FFFFFF;
    padding: 15%;
    padding-right: 20vh;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.cb {
    border-radius: 15px;
    background-color: #E6E6E6;
    padding: 1rem;
}

.mr {
    margin-right: 5rem;
}

.mrd {
    margin-right: 3vh;
}

.bc {
    background-color: #6c757d;
}

.ht {
    height: 100px;
}

.btn-dark {
    color: #fff;
    background-color: #303031;
    border-color: #303031;
}